@import "tailwindcss" source("../../");

@theme {
    --color-gold: #F2A900;
    --color-gold-hover: #FFBE26;
    --color-ocean: #0B192C;
    --color-ocean-blue: #1E3E62;

    --font-sans: "Plus Jakarta Sans", sans-serif;
    --font-display: "Playfair Display", serif;
}